@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Chakra Petch', serif;
    background-color: #f7f0d2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #5c4033;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    margin-left: 20px;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2d2019;
    border-radius: 4px;
}

.story {
    background-color: #f4e1c9;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.story h2 {
    color: #5a3e1b;
    font-size: 24px;
    margin-bottom: 15px;
}

.story p {
    font-size: 18px;
    color: #3e2a1a;
    line-height: 1.6;
    text-align: left;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

.menu-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #5c4033;
}

.menu-item .price {
    font-size: 1.2em;
    color: #cfae78;
    margin: 10px 0;
}

.menu-item button {
    font-family: 'Chakra Petch', serif;
    background-color: #cfae78;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item button:hover {
    background-color: #8e6e54;
}

.cart-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cart-container h2 {
    color: #3e2a1a;
}

.cart-container button {
    font-family: 'Chakra Petch', serif;
}

.cart-container button:hover {
    background-color: #795638;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item .name {
    font-size: 1.2em;
}

.cart-item .price,
.cart-item .quantity {
    font-size: 1em;
    color: #594029;
}

.remove-btn {
    font-family: 'Chakra Petch', serif;
    background-color: #d84f4f;
    color: white;
    border: none;
    border-radius: 5px;
}

.remove-btn:hover {
    background-color: #8f3232;
}

.checkout-btn {
    width: 100%;
    background-color: #cfae78;
    color: white;
    padding: 15px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
}

.checkout-btn:hover {
    background-color: #8e6e54;
}

.cart-container label {
    display: block;
    font-size: 1.2em;
    color: #5c4033;
    margin-bottom: 5px;
}

.cart-container input,
.cart-container textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Chakra Petch', serif;
}

.cart-container textarea {
    height: 100px;
    resize: none;
}

.confirm-order-btn {
    width: 100%;
    background-color: #cfae78;
    color: white;
    padding: 15px;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

footer {
    width: 100%;
    background: #5c4033;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-links a {
    color: #cfae78;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}